/**
 * Fonts.
 *
 * See:
 *  - [Web Font Optimization](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization)
 *  - [Controlling Font Performance with font-display](https://developers.google.com/web/updates/2016/02/font-display)
 */

@font-face {
  font-family: "DIN";
  font-weight: 900;
  src: url("/fonts/DINProBlack900.woff2") format("woff2"),
    url("/fonts/DINProBlack900.woff") format("woff"),
    url("/fonts/DINProBlack900.ttf") format("truetype"),
    url("/fonts/DINProBlack900.eot") format("embedded-opentype");
  font-display: swap;
}
