/**
 * Reset CSS.
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $din;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
}

html {
  font-family: $din;
  font-size: 16px;
  color: $black;
  text-decoration: none;
  background: $white;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
}
