/**
 * Variables.
 */

/* Colors */

$black: #2a2c2e;
$grey-dark: #4d4d4d;
$grey: #808080;
$grey-company: #c1c1c1;
$grey-light: #e6e6e6;
$white: #fff ;
$alerts: #ff5959;

$blue: #21566e;
$blue-light: #4bc3b4;
$yellow: #f5e900;
$red: #ff5959;

/* Fonts */
$din: 'DIN', sans-serif;

/**
 * Mixins.
 */

/* Media Queries */

@mixin mobile() {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin mobile-m() {
  @media (min-width: 450px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin tablet-m() {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin desktop-s() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktop-sm() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop-m() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin desktop-l() {
  @media (min-width: 1800px) {
    @content;
  }
}

/* Containers */

@mixin container {
  //
}

/* Texts */

@mixin title {
  //
}


@mixin text {
  //
}

@mixin transition {
  //
}
