<template>
  <div class="HomePage">
    <div>
      {{ content }}
    </div>
    <h1>{{ content.title }}</h1>

    <h2>FEATURED PROJECTS A</h2>
    <div
      v-for="(featuredA, index) in content.featured_a"
      :key="`featuredA${index}`"
    >
      <img :src="featuredA.thumbnail.url" :alt="featuredA.thumbnail.alt" />
      <br />
      title: {{ featuredA.title }} <br />

      <!-- filters:{{ featuredA }} <br /> -->

      <Link :href="`/work/${featuredA.slug}`"> link</Link>
      <hr />
    </div>

    <h2>FEATURED PROJECTS B</h2>
    <div
      v-for="(featuredB, index) in content.featured_b"
      :key="`featuredB${index}`"
    >
      <img :src="featuredB.thumbnail.url" :alt="featuredB.thumbnail.alt" />
      <br />
      title: {{ featuredB.title }} <br />
      filters:{{ featuredB.filters }} <br />
      <Link :href="`/work/${featuredB.slug}`"> link</Link>
      <hr />
    </div>

    <h2>CONTENIDO DEL BARD</h2>
    {{ content.content_bard }}
  </div>
</template>

<script>
/* Vendor */
// import { Link } from "@inertiajs/inertia-vue3";

/* Helpers */
import { mainLayout } from "@/helpers/vue-layouts";

/* Mixins */
// import page from "@/mixins/page";

export default {
  components: {
    // Link
  },

  // mixins: [page],

  props: {
    content: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      title: "Homepage",
    };
  },
  // created() {
  //   console.log(this.content, this.title, InertiaLink);
  // },

  layout: mainLayout,

  // metaInfo() {
  //   return {
  //     title: this.title,
  //   };
  // },
};
</script>

<style lang="scss" scoped>
.HomePage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin-bottom: 20px;
  }

  img {
    width: 30vw;
    height: auto;
  }
}
</style>
