<template>
    <Head title="Welcome" />

    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, consequatur voluptatem! Saepe nostrum voluptatibus totam quia. Culpa rerum nemo totam, cumque illo harum mollitia provident voluptatem quasi voluptate quisquam saepe?</p>
        <p>{{ test }}</p>
    </div>

</template>

<style scoped>
</style>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3';

export default {
    components: {
      Head,
      Link,
    },
    props: {
        // canLogin: Boolean,
        // canRegister: Boolean,
        // laravelVersion: String,
        // phpVersion: String,
        test: String
    },
}
</script>
