<template>
  <div class="MainLayout">
    <TheHeader />

    <transition mode="out-in" name="fade">
      <slot />
    </transition>

    <TheFooter />
  </div>
</template>

<style lang="scss" scoped>
.MainLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
</style>
